<div class="container">
  <progress-bar></progress-bar>
  <h1>My Goals</h1>
  <hr>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let goal of goals;let i = index'>
        <div>
          <h4 id={{i}} appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h4><br>
          <!-- <div class="togglebtn">
            <button (click)='toggleDetails(i)' class="btn btn1">Toggle Details</button>
          </div> -->
          <button class="btn btn-primary" (click)='goToUrl(goal.id)'>View Details</button>
        </div>
        <div *ngIf='goal.showDescription'>
          <app-goaldetail  [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goaldetail>
        </div><br>
      </div>
    </div>
    <div class="col-md-6">
      <app-goal-form (addGoal1)= "addNewGoal1 ($event)"></app-goal-form>
    </div>
  </div><br>
  <div>
    <p *ngIf='goals.length > 5'>You have too many goals</p>
  </div>
  <div class="row">
    <blockquote class="blockquote text-center">
      <p class="mb-0">{{quote.quote}}</p>
      <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
    </blockquote>
  </div>
</div>